*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat';
}

body{
    
    background-color: #222;
}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #222;
}

.header-content{
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
   
}

.logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 200;
    font-family: 'Montserrat';
}

span{
    font-weight: 800;
}

.navigation{
    display: flex;
}

.navigation a{
    margin: 20px;
    font-size: 15px;
    font-family: 'Montserrat';
}

.navbutton{
    color: white;
}

.navbutton:hover{
    color: #777;
}

.slideshow-container{
    width: 100%;
    height: auto;
    position: relative;
    background-color: wheat;
}

.slider-image{
    display: block;
    width: 100%;
    height: auto;
}
.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 25px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right: 0;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-text{
    color: white;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #777;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    form {opacity: .4}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

img{
    width: 100%;
}

.index-main {
    width: 100%;
    height: auto;
}

.content-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #222;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box{
	position: relative;
	width: 100%;
	height: 500px;
	background-image: radial-gradient(white, #999);
	margin: 15px;
	overflow: hidden;
	border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid white;
}

.a{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/About.jpg');
}

.m {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/Menu.jpg');
}

.p{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/Promotions.jpg');
}

.icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
}



.box:hover .icon{
	height: 20%;
    border-radius: 5px;
    background: #666;
    transition: 0.5s;
}

.fa
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
    transition: 0.5s;
	color: white;
}

.index-description{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
}

.button {
    background: #222;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    border-radius: 10px;
    font-size: 30px;
    color: white;
}

.link{
    width: 100%;
    display: flex;
    justify-content: center;
}

.heading{
    font-size: 35px;
}

p{
    margin-top: 20px;
	padding: 0;
	font-size: 20px;
}

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    width: 50%;
  }
  
  .tablink:hover {
    background-color: #333;
  }
  
.tabcontent {
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

#breakfast {
    background-color: #222;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lunch {
    background-color: #222;
    
}

#picture-banner{
    display: block;
    height: 566px;
}

.menu-main{
    width: 100%;
}

.menu-heading{
    padding-top: 200px;
    font-size: 50px;
}

.menu-items{
    margin-top: 100px;
    background: #222;
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
   
}

.border{
    margin-top: 10px;
    width: 70%;
    border-bottom: 1px solid white;
    position: relative;
    left: 15%;
}

.items{
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    overflow: hidden;
    margin-top: 100px;
}

.food{
    margin-top: -100px;
    display: block;
    height: 140%;
    width: 140%;
}

.menu-description{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: white;
    transition: opacity 0.25s;
}

.menu-description:hover{
    opacity: 1;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    color: white;
    
}

.about-container{
    display: flex;
    justify-content: center;
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.about-header{
    text-align: center;
    border-bottom: 2px solid #222;
    width: 30%;
    margin-bottom: 50px;
}

.about-us-picture{
    width: 50%;
}

.about-us-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.about-us-2{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.story-text1{
    width: 50%;
    text-align: justify;
}

.story-text2{
    margin-right: 20px;
    width: 18%;
    text-align: justify;
}

.about-image{
    width: 25%;
}

.contact-container{
    width: 100%;
}

form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	padding: 0px 20px 20px;
	max-width: 60%;
	margin: 100px auto 0;
	box-shadow: 0 0 1em #555;
	border-radius: 10px;
}

.textbox{
	width: 100%;
	border-radius: 5px;
	font-size: 20px;
	background: #f5f5f5;
	border: 2px solid #e5e5e5;
	
}

label{
    font-size: 20px;
    color: #222;
    
}

form button{
	width: 100%;
	margin-top: 10px;
	padding: 15px 15px 15px;
	font-size: 20px;
	border-radius: 10px;
	border: 2px solid #e5e5e5;
	background-color: #222;
	color: white;
}

form p{
	margin: 10px auto;
	width: 50%;
}

.remarks{
	width: 100%;
	height: 70px;
	border-radius: 5px;
	font-size: 20px;
	border: 2px solid #e5e5e5;
}

.contact-header{
	text-align: center;
	width: 65%;
	margin: 0 auto;
	border-bottom: 2px solid #222;
	margin-top: 50px;
    padding-bottom: 20px;
    color: #222;
}

.social-container{
    display: flex;
    width: 50%;
    justify-content: center;
}

.socialmedia{
    width: 50px;
    height: auto;
}

@media only screen and (max-width: 1395px) {
    .about-content{
        display: flex;
        flex-direction: column-reverse;
    }

    .about-us{
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0;
    }

    .about-image{
        width: 50%;
    }

    .about-us-2{
        flex-direction: column-reverse;
        align-items: center;
    }

    .story-text2{
        margin: 0;
        width: 50%;
    }

    
    
}

@media only screen and (max-width: 1117px ){

    .about-header{
        font-size: 20px;
    }

    .menu-items{
        flex-direction: column;
        
    }
    .menu-row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sides{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    .header-content{
        width: 80%;
    }
}